body.class_management {
  .class-detail {
    text-align: center;
    border-right: 1px solid #ddd;
    p {
      line-height: 3;
    }
  }
  .teachers {
    .teacher {
      margin-right: 15px;
      margin-bottom: 2px;
      p {
        margin: 10px auto 3px auto;
        text-align: center;
      }
      img {
        height: 60px;
        width: 60px;
      }
    }
  }

}